PUBLIC_ORIGIN=https://kp.cheloveckmed.ru
IKP_BIND_PORT=18080
CONSILIUM_API_ORIGIN=http://consilium:8000
CONSILIUM_INTEGRATION_SECRET=replace_with_shared_random_secret
CONSILIUM_TIMEOUT_SECONDS=5
DADATA_API_KEY=replace_with_server_secret
DADATA_SUGGESTIONS_URL=https://suggestions.dadata.ru/suggestions/api/4_1/rs/suggest/party
DADATA_TIMEOUT_SECONDS=5
DADATA_SUGGESTIONS_CACHE_SECONDS=3600
